.banner {
	background-image: linear-gradient(359deg, rgba(0, 0, 0, 20) 0%, rgba(0, 0, 0, 0.2) 0%), url(../../images/banner.jpg);
	background-size: cover;
	background-position: center;
	padding: 50px 0;
}

.banner h1 {
	color: white;
	font-size: 50px;
}

.banner h2 {
	color: white;
	font-size: 30px;
	font-weight: lighter;
	opacity: 0.8;
	margin-bottom: 50px;
}
