.cards {
	display: flex;
	flex-wrap: wrap;
}

.card {
	display: flex;
	padding: 20px;
	align-items: center;
	justify-content: space-between;
	background-color: white;
	box-shadow: 0px 10px 30px rgb(0 0 0 / 20%);
	border-radius: 6px;
	margin: 10px;
	flex-basis: 250px;
	flex-grow: 1;
}

.card img {
	width: 150px;
	border-radius: 6px;
}

.card h3 {
	flex-grow: 1;
	padding-left: 20px;
}